# Table of Contents
1. [Prework review - Data types and Data structures](#prework-review---data-types-and-data-structures)
   1. [Data Types](#data-types)
      1. [Arithmetic Operators](#arithmetic-operators)
      2. [Assignment Operators](#assignment-operators)
      3. [Comparison Operators](#comparison-operators)
      4. [Logical Operators](#logical-operators)
      5. [Data Type Compatibility and Casting](#data-type-compatibility-and-casting)
   2. [String methods and functions](#string-methods-and-functions)
      1. [Formatting Strings](#formatting-strings)
      2. [Input and output functions](#input-and-output-functions)
      3. [ðŸ’¡ Check for understanding 1](#check-for-understanding-1)
   3. [Data structures](#data-structures)
   4. [Lists](#lists)
      1. [Indexing and slicing](#indexing-and-slicing)
         1. [Slicing](#slicing)
      2. [Modifying List Elements](#modifying-list-elements)
      3. [List Operators and functions](#list-operators-and-functions)
      4. [ðŸ’¡ Check for understanding 2](#check-for-understanding-2)
   5. [Dictionaries](#dictionaries)
      1. [Accessing values using the keys](#accessing-values-using-the-keys)
      2. [Adding and Modifying Values](#adding-and-modifying-values)
      3. [Removing Values](#removing-values)
      4. [Checking Key Existence](#checking-key-existence)
      5. [Dictionary Methods](#dictionary-methods)
   6. [Sets](#sets)
   7. [Tuples](#tuples)
   8. [Summary](#summary)
   9. [ðŸ’¡ Check for understanding 3](#check-for-understanding-3)
2. [Extra: nested dictionaries](#extra-nested-dictionaries)
3. [Extra: "is" vs "=="](#extra-is-vs-==)

# Prework review - Data types and Data structures

## Data Types

Let's review the fundamental data types in Python:

- Integer: Represents whole numbers (e.g., 10, 3, -5, 0).
- Float: Represents decimal numbers (e.g., 20.2, 100.2403, -5.50).
- String: Represents text or a group of characters (e.g., "Hello, World!", "Python").
- Boolean: Represents either True or False.

The `type()` function is used to check the data type of a variable.

In [ ]:
x = 10 # integer
print(x)
print(type(x))

In [ ]:
y = 20.5 # float
print(y)
print(type(y))

In [ ]:
z = "hello" # String can be encapsulated in single quotes or double quotes.
print(z)
print(type(z))

In [ ]:
b = True # This is highlighted in green because it is a keyword. Bool: True, False.
print(b)
print(type(b))

In [ ]:
c = "True" # In this case it is a string because we encapsulated it in double quotes
print(c)
print(type(c))

**Observation**

In Python, Boolean values (True and False) are implicitly treated as integers, with True being equivalent to 1 and False being equivalent to 0.

In [ ]:
print(int(True))
print(int(False))

### Arithmetic Operators

Arithmetic operators are used to perform mathematical calculations on numeric data types.
- (+): Adds values.
- (-): Subtracts values.
- (*): Multiplies values.
- (/): Divides values.
- (//): Performs integer division.
- (%): Returns remainder of division.
- (**): Raises a value to a power.

Arithmetic operators on strings in Python:

- Addition (+): Concatenates two strings.
- Multiplication (*): Repeats a string.
- Others (-, /, %, **): Not applicable to strings.

In [ ]:
x+y

In [ ]:
name = "Peter"
surname = "Pan"

name + surname

### Assignment Operators

Assignment operators in Python are used to assign values to variables. They combine the assignment (=) operator with other operators (e.g., +=, -=, *=) to perform arithmetic or logical operations while assigning the result back to the variable.

x += 3  is equivalent to x = x + 3

In [ ]:
x = 10
x += 3 # x = x + 3; x <- 10 + 3
print(x)

### Comparison Operators

Comparison operators in Python are used to compare values and return a boolean result (True or False). They include operators such as == (equal to), != (not equal to), > (greater than), < (less than), >= (greater than or equal to), and <= (less than or equal to).

In [ ]:
x = 10  # Initialize variable `x` with a value 10
y = 5   # Initialize variable `y` with a value 5

In [ ]:
x == y

In [ ]:
x != y

In [ ]:
x > y

In [ ]:
x <= y

### Logical Operators

Python's logical operators allow you to manipulate logical values (True or False) and make decisions based on conditions. The three logical operators in Python are:

- `and`: Returns True if both conditions are True, otherwise False.
- `or`: Returns True if at least one condition is True, otherwise False.
- `not`: Negates the logical value of a condition.

In [ ]:
x = 10 # First we will initialize variable `x` with a value 10.
y = 15 # We will initialize variable `y` with a value 15.

Play with the logical operators to look at how they work.

In [ ]:
x < 5 and y < 20 # Returns False since one of the conditions is False, even the other one is True

In [ ]:
x < 5 or y < 20 # Returns True since one of the conditions is True, even one is False

In [ ]:
not(x < 5 or y < 20) # x < 5 or y < 20 is True, so applying not we get False

### Data Type Compatibility and Casting

In [ ]:
1+"hello"

Different data types in Python have specific rules for how they can be used together. Performing operations with incompatible data types can result in errors if the computer doesn't know how to perform it.

Data type casting in Python allows you to convert values from one type to another, as long as the computer knows how to do it (as long as it makes sense to do so). You can use the following functions for type conversion:

- `int()`: Converts a value to an integer.
- `float()`: Converts a value to a float.
- `str()`: Converts a value to a string.
- `bool()`: Converts a value to a boolean.

In [ ]:
# Integer to float
x = 5
y = float(x)
print(y)  # Output: 5.0

In [ ]:
# Float to integer
a = 3.8
b = int(a)
print(b)  # Output: 3

In [ ]:
# String to integer
c = "10"
d = int(c)
print(d)  # Output: 10

In [ ]:
# Boolean to string
e = True
f = str(e)
print(f)  # Output: "True"

## String methods and functions

In [ ]:
text = "Hello, World!"

# Length of a string
length = len(text)
print(length)  # Output: 13

In [ ]:
# Lowercase and uppercase
lowercase = text.lower()
uppercase = text.upper()
print(lowercase)  # Output: "hello, world!"
print(uppercase)  # Output: "HELLO, WORLD!"

In [ ]:
# Stripping whitespace
stripped = text.strip()
print(stripped)  # Output: "Hello, World!"

In [ ]:
# Splitting and joining strings
split_list = text.split(",")
joined_string = "-".join(split_list)
print(split_list)  # Output: ['Hello', ' World!']
print(joined_string)  # Output: "Hello- World!"

In [ ]:
# Replacing substrings
replaced = text.replace("Hello", "Hi")
print(replaced)  # Output: "Hi, World!"

In [ ]:
# Finding substrings
index = text.find("1")
print(index)  # Output: 7

In [ ]:
# Checking start and end of string
starts_with_hello = text.startswith("Hello")
ends_with_world = text.endswith("World!")
print(starts_with_hello)  # Output: True
print(ends_with_world)  # Output: True

### Formatting Strings

Let's look at different ways to format strings in Python. String formatting allows you to incorporate variables or values into a string in a structured and readable manner.

We'll look at three ways:

1. The first example uses f-strings (formatted string literals), denoted by the 'f' at the beginning of the string. Inside the curly braces, you can include variables or expressions that will be evaluated and replaced with their respective values when the string is created.

In [ ]:
name = "Sam"
age = 20

greeting = f"Hello my name is {name}, and my age is {age}" #f in the beginning
greeting

2. The second example uses the `format` method to insert the value of the variable `name` into the string. Within the string, you will find a placeholder `{}` where the value will be placed. The `format` method is called on the string and takes the value to be inserted as an argument.

In [ ]:
greeting_2 = "Hello my name is {}".format(name) #format in the end
greeting_2

3. The third example demonstrates simple concatenation. The string "Hello my name is" is concatenated with a space and the variable `name` using the `+` operator.

In [ ]:
greeting_3 = "Hello my name is" + " " + name
greeting_3

### Input and output functions

Input and output are concepts in programming that allow us to interact with the user and display information on the screen. In Python, we commonly use the console as the standard input and output device.

**Input**:
To get input from the user, we use the `input()` function. It displays a message on the console and waits for the user to enter a value. The value entered by the user is returned as a **string**.

Here's an example:
```python
name = input("Enter your name: ")
print("Hello, " + name + "!")
```
In this example, the `input()` function displays the message "Enter your name: " on the console. The user can then enter their name, and the input is assigned to the variable `name`. Finally, the program prints a greeting message using the entered name.

**Output**:
To display information or results on the console, we use the `print()` function. It takes one or more values as arguments (**strings**) and displays them as output.

Here's an example:
```python
age = 25
print("Your age is:", age)
```
In this example, the `print()` function displays the string "Your age is:" followed by the value of the `age` variable. The output will be "Your age is: 25".

You can also format the output using placeholders or string concatenation, as shown in the previous examples.

In [ ]:
name = input("Please enter your name: ")

In [ ]:
age = input("This is my age: ")

In [ ]:
type(age)

In [ ]:
random = input()

In [ ]:
age_2 = int(input("Enter only a digit: "))

In [ ]:
type(age_2)

When using the `print()` function in Python, it's important to note that it does not have a return value. If you assign the result of a `print()` statement to a variable or return it in a function, the value will be `None`.

In [ ]:
n = print("Hi") #here we dont print the value of n

In [ ]:
print(n) #lets look at the value of n

### Check for understanding 1

Create a program that asks the user to enter their age. The program should then calculate and display the user's age after 10 years.

Instructions:
1. Prompt the user to enter their age using the `input()` function and store it in a variable.
2. Convert the user's input from a string to an integer using the `int()` function and store it in another variable.
3. Add 10 to the user's age using the `+` operator and store the result in a third variable.
4. Display the user's age after 10 years by printing the result.

Example Output:
Enter your age: 25
Your age after 10 years: 35

Note: Ensure that you handle any potential errors related to casting.

In [ ]:
age = input("What's your age: ")
keep_asking = True
while keep_asking == True:
    try:
        age2 = int(age)
        if age2 < 0:
            age2 = age2 * (-1)
        keep_asking = False
    except:
        age = input("What's your age: ")

print(f"Your age in ten years will be {age2+10}")

## Data structures

Data structures are fundamental components in programming that provide a way to manage and **work with collections of values** or entities.

Data structures in Python can be categorized as either mutable or immutable.

- **Mutable** data structures, like lists, dictionaries, and sets, can be modified after they are created.
- **Immutable** data structures, such as strings and tuples, cannot be changed once defined.

Python Data Structures:
- **Lists**: Ordered, mutable collections that store elements of different types and allow indexing, appending, removing, and modifying. [ ]
- **Dictionaries**: Ordered (from Python 3.6), mutable key-value pairs for efficient lookup and organization of data. { }
- **Sets**: Unordered, mutable collections of unique elements with set operations like union and intersection. { }
- **Tuples**: Ordered, immutable collections commonly used for fixed values. ( )

## Lists

To create a list, you can simply assign a sequence of elements to a variable using the square brackets notation.

In [ ]:
from typing import List

def sum_two_smallest_numbers(integers: List[int]) -> int:
    sorted_integers = sorted(integers)
    return sorted_integers[0] + sorted_integers[1]
  
integers = [14, 2, 3]
result = sum_two_smallest_numbers(integers)
print(result)

In [ ]:
fruits = ["apple", "banana", "orange", "pineapple", "strawberry"]
vegetables = [] # To create an empty list, you can simply assign square brackets.
print(fruits)
print(vegetables)
type(fruits)

In [ ]:
# Lists can hold elements of different type
example1 = [1 , 'a', True] # Integer, string and boolean
example1

### Indexing and slicing

In Python, indexing allows you to access elements within a list using their unique index values. Indexing syntax is as follows:

```python
list_name[index]
```

The index starts from 0 for the first element and can also be negative to refer to elements from the end of the list (e.g., -1 for the last element).

#### Slicing

In Python, slicing allows you to extract a portion of a sequence using the syntax `sequence[start:end:step]`. The `start` index is inclusive, the `end` index is exclusive, and the `step` value (optional) controls the increment between elements in the slice.

Note that if you omit a value, such as `x[:stop]`, it is automatically replaced with a default value: the first element for `start`, the last element for `end`, and `1` for `step`.

<img src="https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/prework/unit1/zero_based_indexing_python.png" width=400 height=400>

In [ ]:
fruits[0] #Note that the index starts in 0

In [ ]:
#fruits[start:end:step]
fruits[:2] # Returns a new list which includes elements at indices 0,1

In [ ]:
# fruits[start:end:step]
fruits[1:4:2] # Returns a new list, which includes elements at indices 1, 3

### Modifying List Elements

Lists are mutable, meaning you can modify their elements after creation. You can assign new values to specific elements using their index.

In [ ]:
fruits[1] = "grape"
fruits

### List Operators and functions

Lists support various operations, such as concatenation (+) to combine two lists or repetition (*) to repeat a list.

In [ ]:
my_list = [1, 2, 3]
combined = fruits + my_list
combined

In [ ]:
# len() gives the number of elements in the list.
length = len(my_list)
print(length)  # Output: 3

In [ ]:
# append() adds an element at the end of the list
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

In [ ]:
# insert() inserts an element in a position
my_list.insert(2, 5)
print(my_list)  # Output: [1, 2, 5, 3, 4]

In [ ]:
# remove() removes an element
my_list.remove(3)
print(my_list)  # Output: [1, 2, 5, 4]

In [ ]:
# pop() removes an element and returns it
popped_element = my_list.pop(2)
print(popped_element)  # Output: 5
print(my_list)  # Output: [1, 2, 4]

In [ ]:
# index() returns the index at which that element is
index = my_list.index(2)
print(index)  # Output: 1

In [ ]:
# sort() sorts the list in ascending order
fruits.sort()

In [ ]:
fruits

In [ ]:
fruits.sort(reverse=True)
fruits

In [ ]:
# min(), max()
print(min(my_list), max(my_list))

### Check for understanding 2

Look at the error we get if we execute the following line again. Why do you think it is?

In [ ]:
my_list.remove(3)

In [ ]:
#from os import waitid

sentence = "Hello, world! This is a test."

# Split the sentence into a list of words
words = sentence.split()  # words = ['Hello,', 'world!', 'This', 'is', 'a', 'test.']

# Sort the words in reverse order
reversed_words = sorted(words, reverse=True)  # reversed_words = ['world!', 'This', 'test.', 'is', 'Hello,', 'a']

#reversed_words = words.sort(reverse=True)
# Join the reversed words into a single sentence
reversed_sentence = " ".join(reversed_words)  # reversed_sentence = 'world! This test. is Hello, a'

# Print the reversed sentence
print(reversed_sentence)  # Output: 'world! This test. is Hello, a'

Note: The method `sort()` is a list method that sorts the list in-place, while the function `sorted()` is a built-in Python function that returns a new sorted list without modifying the original list.

## Dictionaries

In Python, dictionaries are created using curly braces {} and consist of key-value pairs separated by commas. Keys in a dictionary must be unique, and if a key already exists, assigning a new value to that key will overwrite the existing value.

In [ ]:
# Lets add two 'John' keys with different values
contacts = {'John': '312-555-1234', 'John': '111-111-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [ ]:
contacts # We can see that it only kept one 'John' with the latest value

### Accessing values using the keys

To access values in a dictionary, use the corresponding key in square brackets [], noting that keys are case-sensitive.

In [ ]:
contacts['John']  # This is very similar to lists except that here we are using keys as indexes

In [ ]:
contacts['PAUL'] # We get a KeyError since the key PAUL is not in the dictionary

### Adding and Modifying Values

To add a new key-value pair to a dictionary, use the syntax `<dictionary_name>[<key>] = value`.

In [ ]:
contacts['Mel'] = '480-111-2222'

In [ ]:
contacts # Mel was added to the dictionary

In [ ]:
contacts['Mel'] = '480-999-8888'
contacts # Mel value (number) was modified

Values inside a dictionary can be any data type, including lists or dictionaries itself.

In [ ]:
student_data = {
    'Name': 'John',
    'E-mail': 'john@gmail.com',
    'Age': 28,
    'subjects': ['math', 'science', 'history', 'geography']
}

In [ ]:
student_data

In [ ]:
# Remember that the keys are case sensitive
student_data['subjects']

**Note**: Value associated with the key 'subjects' is a list. According to this, if we want to access 'science', we need first to access the `subjects` key in the dictionary. Then, as the `value` is a list, we need to access the corresponding element of the list.

To access the value 'science' in the `student_data` dictionary, you can use the expression `student_data['subjects'][1]`.

In [ ]:
student_data['subjects'][1]

### Removing Values

You can remove a key-value pair from a dictionary using the `del` keyword or the `pop` method.

In [ ]:
contacts

In [ ]:
del contacts["Mel"]

In [ ]:
contacts.pop('John')

In [ ]:
contacts

### Checking Key Existence

To check if a key exists in a dictionary, you can use the `in` keyword:

In [ ]:
if "John" in contacts:
    print("Yes, 'John' is in the dictionary.")
else:
    print("Sorry but John left the dictionary")

### Dictionary Methods

Python dictionaries provide several useful methods:
- **`.keys()`**: Returns a view object containing all the keys in the dictionary.
- **`.values()`**: Returns a view object containing all the values in the dictionary.
- **`.items()`**: Returns a view object containing all the key-value pairs in the dictionary as tuples.
- **`get(key)`**: Returns the value associated with the specified key. If the key is not found, it returns a default value (None by default) instead of raising an error.

In [ ]:
contacts.keys()

In [ ]:
contacts.values()  # But this directly does not tell us to which keys these values are associated

In [ ]:
contacts.items()

In [ ]:
contacts.get('John')

In [ ]:
print(contacts.get('Anna', 'Not found'))

In [ ]:
print(contacts.get('Anna'))

In Python, the `print()` function displays the value passed to it and outputs it to the console. If the value is `None`, the function explicitly displays the word `None` as the output. In Jupyter Notebook, variables are automatically displayed as output when mentioned in a cell, but if the value is `None`, the notebook environment shows nothing instead of displaying `None`.

In [ ]:
contacts.get('Anna')

## Sets

Sets in Python are unordered collections of unique elements defined using curly braces {} or the set() function. They can contain elements of different data types, do not allow duplicates, and are mutable. Sets support operations like union, intersection, and difference.

In [ ]:
# Creating a set
fruits = {'apple', 'banana', 'orange'}
print(fruits)  # Output: {'apple', 'banana', 'orange'}

In [ ]:
# Adding elements to a set
fruits.add('grape')
print(fruits)  # Output: {'apple', 'banana', 'orange', 'grape'}

In [ ]:
# Removing elements from a set
fruits.remove('banana')
print(fruits)  # Output: {'apple', 'orange', 'grape'}

In [ ]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

# Union of set_1 and set_2
union = set_1.union(set_2)
print(union)  # Output: {1, 2, 3, 4, 5}

In [ ]:
# Alternative union syntax using the pipe symbol |
union_alt = set_1 | set_2
print(union_alt)  # Output: {1, 2, 3, 4, 5}

In [ ]:
# Intersection of set_1 and set_2
intersection = set_1.intersection(set_2)
print(intersection)  # Output: {3}

In [ ]:
# Alternative intersection syntax using the ampersand symbol &
intersection_alt = set_1 & set_2
print(intersection_alt)  # Output: {3}

In [ ]:
# Difference of set_1 and set_2 (elements in set_1 but not in set_2)
difference = set_1 - set_2
print(difference)  # Output: {1, 2}

In [ ]:
# Subset check (whether set_1 is a subset of set_2)
is_subset = set_1.issubset(set_2)
print(is_subset)  # Output: False

## Tuples

Tuples are immutable and defined using parentheses (). They can store elements of different types, and once created, their elements cannot be modified. Tuples are often used to group related data together.

In [ ]:
# Creating a tuple
person = ('John', 25, 'USA')
print(person)  # Output: ('John', 25, 'USA')

In [ ]:
person2 = ['John', 25, 'USA']
person2

In [ ]:
# Accessing elements of a tuple
name = person[0]
age = person[1]
print(name, age)  # Output: John 25

In [ ]:
# Trying to modify a tuple (this will raise an error)
person[0] = 'Jane'

In [ ]:
person.append(0) # 'tuple' object has no attribute 'append'
person

## Summary

It is always crucial to know what kind of variable you have in your hands because this determines how to retrieve the data.

- lists and tuples -> accessed by **index**
- dictionaries -> accessed by **key** (misleadingly, the key can be a number but usually is a string)
- sets ->  since sets are unordered, they do not support indexing or retrieval of elements by position


To identify these types:
- Lists are easily recognizable as they begin and end with square brackets `[ ]`.
- Dictionaries are enclosed in curly brackets `{ }`.
- Sets are also enclosed in curly brackets `{ }`, but they lack key-value pairs.
- Tuples are indicated by parentheses `( )`.

![](https://github.com/data-bootcamp-v4/lessons/blob/main/img/data-structures.png?raw=true)

## Check for understanding 3

Write a program that allows the user to enter the grades of five students. The program should store these grades in a list and then display the average grade.

In [ ]:
grades = []
keep_asking = 0  # Initialize to 0

def grading():
    global keep_asking  # Declare the variable as global

    while keep_asking < 5:
        try:
            grade = int(input("Enter grade: "))
            grades.append(grade)
            keep_asking += 1
        except ValueError:
            keep_asking = 5
            print("Invalid input. Please enter numeric grades.")

    average_grade = sum(grades) / len(grades)
    print("Average grade:", average_grade)

grading()

**Please refer to the following hint only if you have attempted the Check for Understanding and are still confused. Do not read it before giving it a try.**:

Here's a step-by-step guide:

1. Create an empty list to store the grades.
2. Use the `input()` function to get the grade from the user for each student. Append each grade to the list.
3. Calculate the average grade by summing up all the grades in the list and dividing by the number of grades.
4. Display the average grade to the user.

# Extra: nested dictionaries

In Python, a nested dictionary is a dictionary where the values are themselves dictionaries. This can be useful when you need to organize data into multiple levels or categories. Here are some key points about nested dictionaries:

- A nested dictionary can have multiple levels of nesting, with each level representing a specific category or subcategory.
- You can access the values in a nested dictionary by specifying the keys at each level.
- You can add, modify, or remove elements from a nested dictionary, just like with regular dictionaries.
- Each level of a nested dictionary can have different keys and values, providing flexibility in structuring your data.

In [ ]:
# Creating a nested dictionary
student_data = {
    'John': {
        'age': 20,
        'major': 'Computer Science',
        'grades': [85, 90, 78]
    },
    'Jane': {
        'age': 22,
        'major': 'Biology',
        'grades': [92, 88, 95]
    }
}

In [ ]:
# Accessing values in a nested dictionary
john_age = student_data['John']['age']
jane_major = student_data['Jane']['major']
john_grades = student_data['John']['grades']

print(john_age)  # Output: 20
print(jane_major)  # Output: Biology
print(john_grades)  # Output: [85, 90, 78]

In [ ]:
# Modifying values in a nested dictionary
student_data['John']['major'] = 'Electrical Engineering'
student_data['Jane']['grades'].append(97)

In [ ]:
# Adding a new student to the nested dictionary
student_data['Sarah'] = {
    'age': 19,
    'major': 'Physics',
    'grades': [90, 91, 88]
}

In [ ]:
# Removing a student from the nested dictionary
del student_data['John']

print(student_data)

In [ ]:
student_data.keys()

In [ ]:
student_data.values()

As you can see, the `keys` of a dictionary can be either:

- strings
- numbers

In this above example, the dictionary `keys` which are strings. In this particular case, the `values` are also dictionaries.

In [ ]:
student_data["Jane"].keys()

In [ ]:
student_data["Jane"].values()

ðŸ’¡Check for understanding: how would you access the first grade of Jane?

In [ ]:
student_data['Jane']['grades'][0]

We mentioned nested dictionaries (dictionaries inside dictionaries) but as you can see in the example, we can also have lists inside dictionaries.

You can also have lists in which each element is a dictionary. Therefore the amount of possible combinations and levels of nesting is endless.

In [ ]:
my_data = [{'Mike': [25,23000],'Jane': [38, 40000],'Bill': [45,35000]},{'Developers': ['Mike','Bill']},{'HR': ['Jane']}]
my_data

This is an example of a nested list with three elements, and each element is a dictionary. When working with nested data structures like this, it is important to understand the type of variable you are dealing with.

Let's check the type of the variable `my_data`:

In [ ]:
type(my_data)

Let's access the first element of the list. Since the variable is a **list**, we use **indexing**. Indexing allows us to retrieve specific elements from a list by their position. In this case, to access the first element, we use the index 0 since Python starts counting from 0.

In [ ]:
my_data[0]

This element is a dictionary, which can be determined by its structure and the presence of key-value pairs. However, if you're unsure about the data type, you can use the `type()` function to confirm it.

In [ ]:
type(my_data[0])

Now let's access the data of 'Jane'. Since this element is a **dictionary**, we need to access its values using the corresponding **keys**.

In [ ]:
my_data[0]['Jane']

As we can see, we get another **list**. To access the last element of this list, we can use its **index**.

In [ ]:
type(my_data[0]['Jane']) # Let's make sure its a list

In [ ]:
my_data[0]['Jane'][1]

# Extra: "is" vs "=="

- `==` compares the values of two objects and returns `True` if they are equal.
- `is` compares the identity of two objects and returns `True` if they refer to the same object in memory.
- `id()` is a built-in function in Python that returns the unique identifier (memory address) of an object. Each object has a distinct `id()` value, allowing us to differentiate between different objects even if they have the same values.

In [ ]:
a = [1, 2]
b = [1, 2]

# Comparing the values of a and b using ==
print(a == b)  # True (Both lists have the same values)

# Comparing the identity of a and b using is
print(a is b)  # False (a and b are different objects in memory)

# Printing the unique identifier (memory address) of a and b3
print(id(a))
print(id(b))

# Assigning b to a
a = b

# Comparing the identity of a and b again after assignment
print(a is b)  # True (a and b now refer to the same object)

# Printing the updated memory addresses of a and b
print(id(a))
print(id(b))